@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1 {
        color:red;
    }

</style>

<h1>@ViewBag.message;</h1>

<h3>Add</h3>
<ul>
    @foreach (Test test in ViewBag.data)
    {
        <li>id = @test.id ======== testName = @test.testName </li>

     }
    </ul>